<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.1" xmlns="http://xmlns.jcp.org/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/persistence http://xmlns.jcp.org/xml/ns/persistence/persistence_2_1.xsd">
  <persistence-unit name="SIG_FRT_Master-ejbPU" transaction-type="JTA">
    <jta-data-source>java:/jdbc_sigfrt_conexao</jta-data-source>
    <class>ejbs.entities.LocLocalidade</class>
    <class>ejbs.entities.FrtTransporteBombaCombustivel</class>
    <class>ejbs.entities.FrtTransporteSolicitacao</class>
    <class>ejbs.entities.SegTempoInactividadePerfil</class>
    <class>ejbs.entities.FrtTransporteTipoManutencao</class>
    <class>ejbs.entities.FrtTransporteTipoCombustivel</class>
    <class>ejbs.entities.EstruturaFisica</class>
    <class>ejbs.entities.PtTransporteModelo</class>
    <class>ejbs.entities.SegConta</class>
    <class>ejbs.entities.SegAuditoria</class>
    <class>ejbs.entities.GrlExcelPath</class>
    <class>ejbs.entities.FrtConfiguracoes</class>
    <class>ejbs.entities.FrtTransporteFormaPagamento</class>
    <class>ejbs.entities.RhFuncao</class>
    <class>ejbs.entities.EstruturaLogicaFisicaHorario</class>
    <class>ejbs.entities.SegConfiguracoes</class>
    <class>ejbs.entities.GrlUpdate</class>
    <class>ejbs.entities.GrlTipoSolicitacao</class>
    <class>ejbs.entities.PtTransporteEstado</class>
    <class>ejbs.entities.GrlPessoa</class>
    <class>ejbs.entities.FrtTransporteSolicitacaoEstado</class>
    <class>ejbs.entities.GrlEstadoCivil</class>
    <class>ejbs.entities.SegFuncionalidade</class>
    <class>ejbs.entities.GrlTipoPessoa</class>
    <class>ejbs.entities.RhNivelAcademico</class>
    <class>ejbs.entities.SegPerfilHasFuncionalidade</class>
    <class>ejbs.entities.FrtTransporteTipoInfraccao</class>
    <class>ejbs.entities.SegFuncionalidadeForm</class>
    <class>ejbs.entities.PtTransporteCategoria</class>
    <class>ejbs.entities.RhFuncionario</class>
    <class>ejbs.entities.EstruturaLogicaFisica</class>
    <class>ejbs.entities.EstruturaLogica</class>
    <class>ejbs.entities.SegTempoInactividadeTodos</class>
    <class>ejbs.entities.SegLogAcesso</class>
    <class>ejbs.entities.PtTransporteTipo</class>
    <class>ejbs.entities.FrtTransporteOficina</class>
    <class>ejbs.entities.SegPaginaArranque</class>
    <class>ejbs.entities.PkSegTipoConta</class>
    <class>ejbs.entities.FrtTransporteTipoAgendamento</class>
    <class>ejbs.entities.PtTransporteTipoCombustivel</class>
    <class>ejbs.entities.FrtTransporteStatusManutencao</class>
    <class>ejbs.entities.SegPerfil</class>
    <class>ejbs.entities.SegForm</class>
    <class>ejbs.entities.PtTransporte</class>
    <class>ejbs.entities.PtTransporteMarcas</class>
    <class>ejbs.entities.RhConfiguracoes</class>
    <class>ejbs.entities.RhEspecialidade</class>
    <class>ejbs.entities.SegTipoFuncionalidade</class>
    <class>ejbs.entities.GrlSexo</class>
    <class>ejbs.entities.FrtTransporteAgendar</class>
    <class>ejbs.entities.SegPerfilAssociado</class>
    <class>ejbs.entities.RhTipoFuncionario</class>
    <class>ejbs.entities.FrtTransporteAtendimento</class>
    <class>ejbs.entities.SegUpdate</class>
    <class>ejbs.entities.SegTipoConta</class>
    <class>ejbs.entities.GrlEndereco</class>
    <exclude-unlisted-classes>false</exclude-unlisted-classes>
    <properties/>
  </persistence-unit>
</persistence>
